.h2 {
    text-align: center;
}

.jumbotron {
    padding-bottom: 2rem;

    h1 {
        font-weight: 700;
        letter-spacing: .5rem;
    }
}

.pad-off {
    padding: 0;
    padding-left: 2rem;
}

.edit-span {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-right: .6rem;
    font-weight: 400;

    &.host-time {
        font-size: .9rem;
    }
}


.btn-marg {
    margin-left: 2.4rem;
}

.labels {
    width: 80%;
}

.plan-price {

    h5 {
        font-size: .8rem;
        font-weight: 900;
        border-top: 1px solid #dee2e6;

    }

    p {
        padding: 0;
        margin: .128rem;
        letter-spacing: .2rem;
        font-size: 14px;


    }
}

.prices-title {
    padding: 0;
    font-size: 1rem;
    // margin-top: .65rem;
    padding-top: .85rem;
    padding-bottom: .24rem;
    font-weight: 600;
}

.price-hrT {
    margin: 0;

}

.price-hrB {
    border-bottom: 2px solid #dee2e6;
    margin: .5rem;
}

.table thead th {
    border-bottom: 1px solid #dee2e6;
}
